#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:white;
  border-radius: 12px;
  width: 575px;
}

#modal-box {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin-top: 15px;
  margin-left: 15px;
  justify-items: center;
}

#modal-x {
  background-color: white;
  border: none;
}

#x-button {
  height: 12px;
  margin-top: 5px;

  padding: 9px;
  border-radius: 100%;
}

#x-button:hover {
  border-radius: 100%;
  background-color: rgba(235, 233, 233, 0.5);
}
