.w-6 {
  width: 2em;
}

.h-6 {
  height: 2em;
}

#buttons {
  display: flex;
  justify-content: center;
}

#create-review-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  border: rgba(235,233,233,0.5) solid 1px;
  box-shadow: 2px 2px 5px rgb(148, 148, 148);
  width: 550px;
  border-radius: 12px;
  padding: 20px;
}

.stars {
  display: flex;
  margin: 0 auto;
}

#star1 {
  fill: black;
}

#star1:hover {
  fill: rgb(220,30,87);
}

#review-button {
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  width: 300px;
}

#review-button:hover,
#review-cancel:hover {
    background-color: rgb(220,30,87);
    cursor: pointer;
}

#review-cancel {
  text-decoration: none;
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  margin-left: 10px;
}

#review-form-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px auto;
  /* border: rgb(197, 191, 191) 0.2px solid; */
  border-radius: 8px;
}

#review-rating {
  margin: 0 auto 10px auto;
  width: 200px;
  padding: 10px;
}

#review-text {
  margin-bottom: 10px;
  padding: 10px;
}
