#bear {
  width: 44px;
  margin-right: 10px;
}

#bear-name {
  display: flex;
  align-items: center;
  /* border: solid red 1px; */
  margin: 10px 0;
}

#review-container {
  /* border: rgb(235, 233, 233) solid 1px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  border: solid red 1px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border: rgba(235,233,233,0.5) solid 1px;
  box-shadow: 2px 2px 5px rgb(148, 148, 148);
  width: 550px;
  border-radius: 12px;
  padding: 10px;
}

#review-title {
  display: flex;
  align-items: center;
}

#reviewer-name {
  font-size: 16px;
  font-weight: 600;
}
