#avgStarRating {
  font-weight: 500;
  font-size: 22px;
  display: flex;
  margin-right: 8px;
}

#bear {
  width: 44px;
  margin-right: 10px;
  /* border: blue 1px solid; */
}

#bear-name {
  display: flex;
  align-items: center;
}

#button-leave-review {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  width: 250px;
  margin: auto;
}

#delete-review-button {
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-left: 10px;
}

#each-review {

  margin: 12px 0;
  width: 500px
}

#review-box {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
}

#review-container {
  display: flex;
  flex-direction: column;
  /* margin: 80px; */
  border-radius: 12px;
  /* padding: 20px; */
}

#review-number {
  font-weight: 500;
  margin-left: 8px;
}

#review-title {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 22px;
}

#reviewer-name {
  font-size: 16px;
  font-weight: 500;
}

#reviewer-review {
  /* border: blue 1px solid; */
  margin-top: 4px;
}

#star-review {
  margin: auto 0;
  font-size: 12px;
}

#title {
  display: flex;
  padding-right: 20px;
}
