#bear {
  width: 44px;
  margin-right: 10px;
  /* border: blue 1px solid; */
}

#bear-name {
  display: flex;
  align-items: center;
}

#button-leave-review {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  width: 300px;
  margin: auto;
}

#delete-review-button {
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-left: 10px;
}

#each-review {
  margin: 12px 0;
}

#review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  /* border: rgba(235,233,233,0.5) solid 1px;
  box-shadow: 2px 2px 5px rgb(148, 148, 148); */
  width: fit-content;
  border-radius: 12px;
  padding: 20px;
}

#review-title {
  display: flex;
  align-items: center;
  font-weight: 400;
}

#reviewer-name {
  font-size: 16px;
  font-weight: 600;
}

#reviewer-review {
  /* border: blue 1px solid; */
  margin-top: 4px;
}

#star {
  margin-right: 8px;
}
