.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking-form button {
  margin: 10px 0;
  padding: 10px;

  border: transparent;
  border-radius: 8px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  color: white;
  background: rgb(224,16,98);
  background: linear-gradient(281deg, rgba(224,16,98,1) 0%, rgba(230,30,77,1) 100%);
}

.booking-form input {
  border: none;
  font-size: 14px;
}

.booking-form label {
  font-size: 10px;
  font-weight: 600;
  padding: 0;
}

#dates {
  display: flex;
  width: 100%;
}

#date-checkin,
#date-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  border: 1px solid rgb(182, 181, 181);
  padding: 10px;
}

#date-checkin {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

#date-checkout {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#start:hover,
#end:hover {
  cursor: pointer;
}

.price-breakdown {
  font-weight: 300;
  font-size: 15px;
}

.price-breakdown div {
  display: flex;
  justify-content: space-between;
}

.price-breakdown div:last-of-type {
  border-top: 1px solid rgba(182, 181, 181, 0.5);
  margin-top: 5px;
  padding: 0;
}

.price-breakdown span {
  padding: 10px 0;
}

#price-bd-last {
  padding-bottom: 0;
  font-weight: 600;
}
