#buttons-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 490px;
  margin: auto;
}

#cancel-link:hover {
  background-color: rgb(220,30,87);
}

#cancel-link {
  text-decoration: none;
  background-color: rgb(230,30,87);
  color: white;
  font-size: 14px;
  font-weight: 400;


  margin-top: 10px;
  border-radius: 8px;
  padding: 9px;

  display: flex;
  justify-content: center;
}

.create-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  /* border: rgb(197, 191, 191) 0.2px solid; */
  border-radius: 8px;
  border-bottom: none;
}

.create-spot-form {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 0;
}

.form-for-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  border: rgba(235,233,233,0.5) solid 1px;
  box-shadow: 2px 2px 5px rgb(148, 148, 148);
  width: 550px;
  border-radius: 12px;
  padding: 10px;
}

#host-button {
  background-color: rgb(230,30,87);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  width: 490px;
}

#host-button:hover {
  background-color: rgb(220, 30, 87);
  cursor: pointer;
}

#spot-image {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: rgb(197, 191, 191) 0.2px solid;
  padding: 15px;
  font-size: 16px;
}

#spot-input1{
  margin-top: 10px;
  padding: 15px;
  font-size: 16px;
  border: rgb(197, 191, 191) 1px solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#spot-input,
#spot-input2 {
  /* border: rgb(197, 191, 191) 0.2px solid;
  padding: 15px;
  font-size: 16px; */
  /* border-top: white; */
  padding: 15px;
  font-size: 16px;
  border: rgb(197, 191, 191) 1px solid;
  border-top: none;
}


#spot-input1:hover,
#spot-input2:hover,
#spot-input:hover,
textarea:hover {
  background-color: rgba(235,233,233,0.5);
}


textarea {
  height: 125px;
  resize: none;
}
