/* .each-card {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  margin: 0px 100px;
}*/

.card-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-image: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&w=1600');
  border-radius: 12px;

  height: 80vh;
  width: 80vw;

  color: white;
  font-size: 24px;
}

#each-one {
  /* border: red 1px solid; */
  display: flex;
  justify-content: space-between;
}

.reviews-1 {
  display: flex;
}
