#one,
#two {
  height: 175px;
  width: 175px;
}

#quad-images {
  border: 1px red solid;
  display: flex;
  align-items: center;
  margin: 0 800px 20px 80px;

  height: 400px;
  width: 420px;

}

#review-link {
  font-size: 14px;
  color: black;
}

#single-image {
  height: 350px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0 auto;
}

.spot-images {
  border: 1px red solid;
  display: flex;
  align-items: center;
  margin: 0 80px;
  height: 400px;
  width: 600px;
}

#spot-name {
  margin: 0 80px;
  font-weight: 300;
}

#star {
  margin-left: 70px;
}
