form {
  font-family: 'Poppins', sans-serif
}

#signup-button {
  background-color: rgb(230, 30, 87);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 14px;
  margin: 20px;
}
