#confirm-pass {
  padding: 15px;
  font-size: 16px;
  border: rgb(197, 191, 191) 1px solid;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#error-div {
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(230, 30, 87)
}

#error-list {
  padding-left: 60px;
  align-items: space-evenly;
  justify-content: flex-end;
}

#errors {
  font-size: 11px;
}

#firstname {
  padding: 15px;
  font-size: 16px;
  border: rgb(197, 191, 191) 1px solid;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#lastname,
#email-sign,
#username-sign,
#password-sign {
  padding: 15px;
  font-size: 16px;
  border: rgb(197, 191, 191) 1px solid;
  border-top: none;
}

#signup-form {
  /* border: red solid 1px; */
  padding: 0 20px;
}

#signup-button {
  background-color: rgb(230, 30, 87);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 14px;
  /* margin: 20px; */
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}

#signup-button:hover {
  background-color: rgb(220, 30, 87);
  cursor: pointer;
}

#signup-content {
  display: flex;
  flex-direction: column;
}

#signup-title {
  /* border: rgba(230, 30, 87, 0.5) 1px solid; */
  font-size: 19px;
  margin-bottom: 20px;
}

#wrap-title {
  /* border: rgba(230, 30, 87, 0.5) 1px solid; */
  margin-bottom: 10px;
}
