@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");

* {
  font-family:'Poppins', sans-serif;
}

.nav-bar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(211, 209, 209);
}

img.logo {
  width: 150px;
  margin: 30px 20px 20px 80px;
}

.upper-right {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 0
}
