@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");

* {
  font-family:'Poppins', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 20px
}

img.logo {
  width: 150px
}
